.nav {
    display: inline;
}

#intro-image {
    height: auto;
    width: 100%;
}

#contact-us {
    text-align: left;
}

div#gmap {
    min-height: 360px;
}

.monkey {
    font-size: 12rem;
    cursor: pointer;
    user-select: none;
}

.closed {
    display: none;
}

.open {
    display: none;
}

.active {
    display: block;
}