html {
    scroll-behavior: smooth;
}

.nav {
    display: inline;
}

#intro-image {
    height: auto;
    width: 100%;
}

#contact-us {
    text-align: left;
}

div#gmap {
    min-height: 360px;
}

.monkey {
    font-size: 12rem;
    cursor: pointer;
    user-select: none;
}

.closed {
    display: none;
}

.open {
    display: none;
}

.active {
    display: block;
}

#introduction {
    background-color: red;
    color: white;
    height: 100vh;
    width: 100vw;
    align-items: center;

}

#game {
    background-color: white;
    color: blue;
    height: 100vh;
    width: 100vw;
    align-items: center;

}

#about-us {
    background-color: blue;
    color: red;
    height: 100vh;
    width: 100vw;
    align-items: center;

}

#about-you {
    background-color: red;
    color: white;
    height: 100vh;
    width: 100vw;
    align-items: center;

}